---
layout: archive
title: "Machine Learning Projects"
permalink: /MachineLearningProjects/
author_profile: true
---

<div class="wordwrap">
  This page collects all my posts on topics I find interesting about how to learn Machine Learning 😁💻.
</div>

{% include base_path %}

{% if site.MachineLearningProjects and site.MachineLearningProjects.size > 0 %}
  {% for post in site.MachineLearningProjects %}
    {% if post.url != page.url %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% else %}
  <p>
    No Machine Learning Projects found. Please check that the collection name in
    <code>_config.yml</code> and the folder <code>_MachineLearningProjects/</code> are correctly defined.
  </p>
{% endif %}
